html
    head
        meta(charset="utf-8")
        title WinningJS Todo

        //- WinJS references
        link(href="//Microsoft.WinJS.1.0/css/ui-dark.css", rel="stylesheet")
        script(src="//Microsoft.WinJS.1.0/js/base.js")
        script(src="//Microsoft.WinJS.1.0/js/ui.js")

        //- Automatically inserted scripts
        each script in scripts
            script(src=script)

        //- Automatically inserted styles
        each style in styles
            link(href=style, rel="stylesheet")

    body
