div.todo-app
    header
        h1 WinningJS Todo
    div.todo-form
        div(data-winning-region="navBar")
        div(data-winning-region="add")
        div(data-winning-region="list")
        div(data-winning-region="bottomBar")
    div(data-winning-region="aboutUs")
