div(data-win-control="WinJS.UI.AppBar", data-win-options="{placement:'bottom'}")
	button(data-win-control="WinJS.UI.AppBarCommand", data-win-options="{id:'cmdAdd',label:'Add Task',icon:'add',section:'global'}")