div(data-win-control="WinJS.UI.AppBar", data-win-options="{ placement: 'top' }")
    button(
        data-win-control="WinJS.UI.AppBarCommand",
        data-win-options="{ id: 'about', label: 'About Us', icon: 'help', section: 'global' }",
    )
