div(data-win-control="WinJS.UI.AppBar", data-win-options="{ placement: 'top' }")
    button(
        data-winning-href="/about"
        data-win-control="WinJS.UI.AppBarCommand"
        data-win-options="{ label: 'About Us', icon: 'help', section: 'global' }"
    )
