div#todo-app
    header
        h1 WinningJS Todo
    div#todo-form
        div(data-region="navBar")
        div(data-region="add")
        div(data-region="list")
        div(data-region="bottomBar")
        div(data-region="topBar")
    div(data-region="aboutUs")
