#todo-app
    margin: auto
    margin-top: 200px
    padding: 30px
    width: 600px
    background: black
    border: 1px #111 solid
    border-radius: 20px
    box-shadow: 0 8px 8px -3px #666
    color: white

    > *
        font-size: 1.8em
