div(data-win-control="WinJS.UI.AppBar", data-win-options="{ placement: 'top' }")
	each todo in list
		button(
            data-win-control="WinJS.UI.AppBarCommand",
            data-win-options="{ id: 'cmd-navigate', label: '#{todo.name}', icon: 'document', section: 'global' }"
        )
