div(data-win-control="WinJS.UI.AppBar", data-win-options="{ placement: 'bottom', disabled: true }")
    button(
        data-win-control="WinJS.UI.AppBarCommand",
        data-win-options="{ id: 'delete', label: 'Delete Task', icon: 'delete', section: 'selection' }",
    )
    button(
        data-win-control="WinJS.UI.AppBarCommand",
        data-win-options="{ id: 'complete', label: 'Complete', icon: 'accept', section: 'selection' }",
    )
