body
    margin: 300px

    @media screen and (-ms-view-state: fullscreen-landscape)
        background: blue

    @media screen and (-ms-view-state: filled)
        background: purple

    @media screen and (-ms-view-state: snapped)
        background: orange

    @media screen and (-ms-view-state: fullscreen-portrait)
        background: green

p
    margin: 200px 0
